[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vikrantgarg
[access "refs/for/refs/*"]
	read = group user/vikrantgarg
	push = group user/vikrantgarg
	label-Code-Review = -2..+2 group user/vikrantgarg
	label-Verified = -1..+1 group user/vikrantgarg
	rebase = group user/vikrantgarg
	removeReviewer = group user/vikrantgarg
	submit = group user/vikrantgarg
[access "refs/heads/*"]
	read = group user/vikrantgarg
	create = group user/vikrantgarg
	push = +force group user/vikrantgarg
	pushMerge = group user/vikrantgarg
[access "refs/tags/*"]
	push = +force group user/vikrantgarg
	pushTag = group user/vikrantgarg
	pushSignedTag = group user/vikrantgarg
